<div class="card dashbaord-grid">

    <div class="filter">
        <a class="icon" href="/Indent#indentDispatched">View All</a>
    </div>

    <div class="card-body">
        <h5 class="card-title">Indents Dispatched Overview</h5>

        <table id="dispatchedDatatable" class="table datatable">
            <thead>
                <tr>
                    <th scope="col">Indent Number</th>
                    <th scope="col">Date</th>
                    <th scope="col">Indenting Branch (IBL)</th>
                    <th scope="col">BFIL Branch</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
        </table>

    </div>

</div>
