@{
    ViewData["Title"] = "Scheme Codes";
}

<section class="section">
    <div class="row row1">
        <div class="pagetitle col-lg-7">
            <h1 class="dashboardTitle">Scheme Codes</h1>
        </div>
        <div class="col-lg-5 text-right">
            <a class="btn btn-outline-primary createNewSchemeCodeBtn" asp-area="" asp-controller="SchemeCode" asp-action="Manage" onclick="showLoading();">Create New Scheme Code</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table id="schemeCodeDatatable" class="table datatable">
                        <thead>
                            <tr>
                                <th>Scheme Code</th>
                                <th>C5 Codes</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/schemecode.js"></script>
}  