@{
    ViewData["Title"] = "Users";
}

<section class="section">
    <div class="row row1">
        <div class="pagetitle col-lg-7">
            <h1 class="dashboardTitle">Users</h1>
        </div>
        <div class="col-lg-5 text-right">
            <a class="btn btn-outline-primary createNewIndentBtn" asp-area="" asp-controller="User" asp-action="Manage" onclick="showLoading();">Create New User</a>
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Upload Users</h5>

                    <div class="row g-3">
                        <div class="col-12">
                            <a href="~/Samples/StaffDetails.xlsx">Sample Excel</a>
                        </div>
                        <div class="col-12">
                            <input type="file" id="fileUpload" class="form-control" accept=".xlsx, .xls" />
                        </div>
                        <div class="col-12">
                            <div class="upload-error" id="userUploadError">
                            </div>
                        </div>
                        <div class="text-left">
                            <button id="btnUpload" type="button" class="btn btn-primary btn-upload">Upload</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table id="userDatatable" class="table datatable">
                        <thead>
                            <tr>
                                <th>Staff ID</th>
                                <th>Full Name</th>
                                <th>Branch Name</th>
                                <th>Mobile No</th>
                                <th>Role</th>
                                <th class="no-sort">Active</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/user.js"></script>
}  