@{
    ViewData["Title"] = "C5 Codes";
}

<section class="section">
    <div class="row row1">
        <div class="pagetitle col-lg-7">
            <h1 class="dashboardTitle">C5 Codes</h1>
        </div>
        <div class="col-lg-5 text-right">
            <a class="btn btn-outline-primary createNewC5Btn" asp-area="" asp-controller="C5Code" asp-action="Manage" onclick="showLoading();">Create New C5 Code</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table id="c5CodeDatatable" class="table datatable">
                        <thead>
                            <tr>
                                <th>C5 Code </th>
                                <th>Card Type</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/c5Code.js"></script>
}  